<h1>Doctors show page</h1>

<p>Name:<%= @doctor.name%></p>
<p>Specialty:<%=@doctor.specialty%></p>
<p>University:<%=@doctor.university%></p>
<p>Works at hospital:<%=@doctor.hospital.name%></p>

<% @doctor.patients.each do |patient| %>
<p>Patients names:<%= patient.name%>

  <li><%= button_to "Delete patient #{patient.id}",doctor_path(@doctor.id),method: :delete%></li>
<% end %>
